

# Jupyter notebook checkpoints
*.ipynb_checkpoints*
# Notebook conversion (to PDF)
notebooks/converted/
*.pdf

# Pycharm config files
*.xml
.idea

# Python
*.pyc
*__pycache__

# Output files
*.mat
*.npy
*.eps
*.h5
*.csv

# Octave
octave-workspace

